<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NW.Payment.Wrappers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NW.Payment.Wrappers.Properties.Settings>
            <setting name="NW_Payment_Wrappers_EparaWs_v2" serializeAs="String">
                <value>https://mapi8867.epara365.com/Services/ExternalApi/v2.asmx</value>
            </setting>
            <setting name="NW_Payment_Wrappers_ReyPayWs_IWSPINservice" serializeAs="String">
                <value>http://185.190.16.93:8080/myappsamir/WSPIN.dll/soap/IWSPIN</value>
            </setting>
            <setting name="NW_Payment_Wrappers_PayInWs_IWSPINservice" serializeAs="String">
                <value>http://unipayapi.com/WSPIN.dll/soap/IWSPIN</value>
            </setting>
        </NW.Payment.Wrappers.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
